.Container-modal-open {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 1px 6px rgb(0 0 0 / 20%);
  display: flex;
  height: 5vw;
  width: 80vw;
  margin-top: -15%;
  justify-content: space-between;
}

.Container-modal-open-City {
  align-items: center;
  box-shadow: 0 1px 6px rgb(0 0 0 / 20%);
  cursor: pointer;
  border: 1px solid #333;
  display: flex;
  height: 100%;
  width: 40%;
  justify-content: center;
  border-radius: 12px;
  flex-direction: column;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

.Container-modal-open-City li {
}

.Container-modal-open-City :active > ul {
}

.Container-modal-open-header-search {
  background: yellowgreen;
  align-items: center;
  cursor: pointer;
  display: grid;
  width: 65%;
  height: 100%;
  flex-direction: column;
  justify-items: flex-start;
}

.Container-modal-open-header-search img {
  height: 25px;
  width: 25px;
  margin-right: 60%;
  margin-top: 20%;
  background: hsl(0, 79%, 63%);
  margin: 0% 86% -11% 0%;
}

.citys {
  font-family: "Mulish", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(100, 98, 98);
  background: #eb5757;
  flex-direction: column;
  justify-items: flex-start;
  display: grid;
  align-items: center;
}

.Container-modal-open-guest {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 40%;
  box-shadow: 0 1px 6px rgb(0 0 0 / 20%);
}

.Container-modal-open-Search {
  align-items: center;
  cursor: pointer;
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-items: end;
}

#Button {
  align-items: center;
  background: #eb5757;
  border: none;
  border-radius: 16px;
  box-shadow: 0 1px 6px rgb(0 0 0 / 10%);
  cursor: pointer;
  display: flex;
  height: 90%;
  justify-content: space-evenly;
  padding: 10px;
  width: 60%;
  transform: translateY(4px);
}

.Container-modal-open-Search p {
  color: rgb(255, 255, 255);
  font-size: 1.5vw;
}

.Container-modal-open-Search img {
  width: 30px;
  height: 30px;
}
